* {
  box-sizing: border-box;
}

.app {
  padding-top: 1rem;
  height: 100vh;
  margin: 0 2rem 0;
}

.neto-social__header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 2rem;
}

.news-list {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.news-card {
  height: 100%;
}

.news-card-wrapper {
  display: flex;
  justify-content: center;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40%;
  width: 100%;
}

.info-section {
  display: flex;
  justify-content: center;
}

.info-section__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}

.authentication__form {
  display: flex;
  align-items: stretch;
  gap: 10px;
}

.form-group {
  margin-bottom: 0;
}

.form-field {
  height: 100%;
}

.error-text {
  position: absolute;
  color: #d80000;
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
